.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.room-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.room-image {
  width: 50%;
  border-radius: 5px;
}

.details {
  width: 45%;
}

.details p {
  margin: 5px 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

/* Colors */
h2 {
  color: green;
}

.container {
  background-color: white;
}

/* PayPal Button Styling */
#paypal-button-container {
  text-align: center;
  margin-top: 20px;
}
