.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.room-details,
.purchase-form {
  width: 45%;
}

.room-description,
.room-price-availability {
  background-color: white;
  border: 1px solid lightgreen;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.room-description:hover{
  color:green;
  font-weight: bold;
}
.room-price-availability {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-title {
  color: green;
}

.description-title {
  color: grey;
  margin-bottom: 10px;
}

.price-info,
.availability-info {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.book-now-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now-btn:hover {
  background-color: darkgreen;
}

.book-now-btn,
.select-room-dropdown {
  margin-top: 10px;
}

.select-room-dropdown {
  width: 24%;
  padding: 8px;
  border: 1px solid lightgreen;
  border-radius: 5px;
  color:grey;
}

.select-room-dropdown option {
  background-color: white;
  color: green;
}

.select-room-dropdown:hover,
.book-now-btn:hover {
  color: green;
}

/* New CSS to adjust image size and layout */
.room-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-photo {
  width: 100%;
  max-width: 700px; /* Adjust the maximum width of the image */
}

.room-photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .room-details,
  .purchase-form {
    width: 100%;
    max-width: 500px; /* Adjust maximum width for better responsiveness */
  }
}
#paypal-button-container {
  max-width: 300px; /* Adjust the maximum width */
  margin-top: 20px; /* Add margin for spacing */
}
.back-to-hostel-btn {
  margin-top: 20px;
  position: absolute; /* Adjust this value as needed */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-to-hostel-btn:hover {
  background-color: #0056b3;
}
