
.card:hover {
    box-shadow: -8px 8px 12px 0 rgb(0 0 0 / 58%);;
}

.mx-auto{
    margin-right: 6rem;
    margin-left: 2rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    z-index: 999; /* ensure it's on top of other content */
    display: none; /* hide by default */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* white background for content */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* drop shadow */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333; /* dark gray color for close button */
}

.btn {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust width as needed */
    border: 2px solid #22b322;
  }

