<div class="container">
  <div class="room-details">
    <h2 class="room-title">Deluxe Room</h2>
    <div class="room-info">
      <div class="room-photo">
        <img src="../../assets/img/girldelux.jpeg" alt="Super Deluxe Room">
      </div>
    </div>
  </div>
  <div class="purchase-form">
    <h3 class="description-title">Room Specifications</h3>
    <div class="room-description">
      <ul class="description-list">
        <li>Spacious room with elegant interior design</li>
        <li>King-size bed with premium bedding</li>
        <li>Private balcony overlooking scenic views</li>
        <li>Luxurious bathroom with modern amenities</li>
        <li>Complimentary high-speed Wi-Fi</li>
      </ul>
    </div>
    <div class="room-price-availability">
      <div class="room-price">
        <p class="price-info">Price per Room: ${{ prices?.deluxe }}</p>
      </div>
      <div class="availability">
        <p class="availability-info">Available Rooms: {{ availability?.boysDeluxeRooms }}</p>
      </div>
    </div>
    <div *ngIf="availability?.boysDeluxeRooms > 0" class="room-options-container">
      <label for="numRooms" class="select-room-dropdown">Number of Rooms:</label>
      <select id="numRooms" [(ngModel)]="numRooms" name="numRooms" class="select-room-dropdown option" style="margin-left:5px;">
        <option *ngFor="let room of availableRoomOptions()" [ngValue]="room">{{ room }}</option>
      </select>
    </div>
    <button class="book-now-btn" (click)="bookNow()">Book Now</button>
    <div id="paypal-button-container"></div>
  </div>
</div>
