<div class="dkp-footer">
  <!-- Footer -->
  <footer class="page-footer font-small text-light bg-dark">

    <!-- Footer Elements -->
    <div class="container">
      <!-- Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="p-5">
          <div class="d-flex justify-content-center">
            <!-- Facebook -->
            <a class="social-icon mr-3" href="#" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter -->
            <a class="social-icon mr-3" href="#" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <!-- Instagram -->
            <a class="social-icon mr-3" href="#" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <!-- LinkedIn -->
            <a class="social-icon mr-3" href="#" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <!-- GitHub -->
            <a class="social-icon mr-3" href="https://github.com/Tshriju-hub/HMS" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->

    <!-- Contact Details -->
    <div class="container text-center">
      <p class="mb-1">Herald Hostel</p>
      <p class="mb-1">Address: Naxal Bagwati Marga, Kathmandu</p>
      <p>Contact us: <a href="tel:+9861487566">9861487566</a>, <a href="tel:+1569977853">1569977853</a></p>
    </div>
    <!-- Contact Details -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background: linear-gradient(to right, #24834a, #3a8d58);">
      <p class="mb-0">© 2024 Herald Hostel</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>