<div class="row" style="width: 100.81%;">
  <!-- Sidebar section -->
  <aside class="col-lg-3" style="width: 335px;">
    <user-hostel-sidebar></user-hostel-sidebar> <!-- Sidebar content goes here -->
  </aside>

  <!-- Main content section -->
  <main class="col-lg-9" style="min-height: 100vh;">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="div-box">
          <div class="container mt-4">
            <!-- Heading for Personal Details section -->
            <h1>Personal Details</h1>
            <!-- Student information section -->
            <div class="student-info" *ngIf="student">
              <!-- Displaying various details of the student -->
              <p><strong>Room Category:</strong> {{ student.roomCategory }}</p>
              <p><strong>Room No:</strong> {{ student.roomNo }}</p>
              <p><strong>Food Package:</strong> {{ student.foodPackage }}</p>
              <p><strong>First Name:</strong> {{ student.firstName }}</p>
              <p><strong>Last Name:</strong> {{ student.lastName }}</p>
              <p><strong>Father Name:</strong> {{ student.fatherName }}</p>
              <p><strong>Gender:</strong> {{ student.gender }}</p>
              <p><strong>Mobile No:</strong> {{ student.mobileNo }}</p>
              <p><strong>Father Mobile No:</strong> {{ student.fatherMobileNo }}</p>
              <p><strong>Email:</strong> {{ student.email }}</p>
              <p><strong>Current Address:</strong> {{ student.currentAdress }}</p> <!-- Corrected property name -->
              <p><strong>College Name:</strong> {{ student.collegeName }}</p>
              <p><strong>Payment:</strong> {{ student.paymentStatus }}</p>
              <p><strong>Checkout Date:</strong> {{ student.checkout}}</p>
              <p><strong>Status:</strong> {{ student.isStatus ? 'Active' : 'Inactive' }}</p>
            </div>

            <!-- Displayed when student data is being loaded -->
            <div *ngIf="!student">
              <p>Loading student data...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
